header{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
}
.logo-img{
    width: 150px;
height: 30px;
}
header h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
 header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
header li{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
header .div1{
    display: flex;
    width: 75px;
    height: 30px;
    justify-content: space-between;
}
header.div2{
    width: 200px;
    height: 30px;
}
header .btn1{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 150px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
header .btn2{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 75px;
    background-color: white;
    border-radius: 5px;
}